
# Udev rules for letting the console user access the Yubikey USB
# device node, needed for challenge/response to work correctly.

# The original key
ACTION=="add|modify", SUBSYSTEM=="usb", \
  ATTRS{idVendor}=="1050", ATTRS{idProduct}=="0403", \
  RUN+="/bin/sh -c '/etc/bin/udev/rules.d/70-youbikey-setxkbmap.rules.sh'"

# The nano key
ACTION=="add|modify", SUBSYSTEM=="usb", \
  ATTRS{idVendor}=="1050", ATTRS{idProduct}=="0407", \
  RUN+="/bin/sh -c '/etc/bin/udev/rules.d/70-youbikey-setxkbmap.rules.sh'"
